<div class="d-flex justify-content-between align-items-center mb-3">
  <div (click)="logOut()" class="logout-button">
  <i class="fas fa-sign-out-alt"></i>
  
</div>
<div class="dropdown-language" [class.open]="isOpen">
  <div class="dropdown-language-toggle" (click)="toggleDropdown()">
    <img [src]="currentFlagUrl" alt="selected flag" title="{{currentFlag | titlecase}}">
  </div>

  <div class="dropdown-language-menu" *ngIf="isOpen">
    @for(flag of flags;track $index){
        <div class="dropdown-language-item" (click)="selectLanguage(flag.code)">
            <img [src]="flag.img" alt="{{flag.code}}">
            <div>{{flag.codeFlag|titlecase}}</div>
        </div>
    }

  </div>
</div>
<div routerLink="/admin/profile" class="profile-div">
  <i class="fa-solid fa-user"></i> {{"Profile"|translate}}
</div>
</div>